<configuration scan="true" scanPeriod="60 seconds">
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/metrics-sampler.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

</configuration>
