<configuration pool-size="10">
	<readers>
 		<jmx-reader name="wls" url="service:jmx:t3://weblogic.jmxsampler.org:6001/jndi/weblogic.management.mbeanservers.runtime" username="admin" password="weblogic1" provider-packages="weblogic.management.remote" persistent-connection="true" />
 		<jmx-reader name="tomcat" url="service:jmx:rmi:///jndi/rmi://tomcat.jmxsampler.org:9001/jmxrmi" persistent-connection="true" />
		<mod-qos-reader name="apache.qos" url="http://apache.jmxsampler.org:8240/qos-viewer?auto" username="user" password="pass" auth="basic"/>
	</readers>
	<writers>
		<console-writer name="console" />
		<graphite-writer name="graphite" host="graphite.jmxsampler.org" port="2003" />
	</writers>
	<mapping-templates>
		<mapping-template name="wls">
			<regexp-mapping from-name="com\.bea:Name=DataSource_(.+),ServerRuntime=.+,Type=JDBCOracleDataSourceRuntime\.(ActiveConnectionsAverageCount|ActiveConnectionsCurrentCount|ActiveConnectionsHighCount|ConnectionDelayTime|ConnectionsTotalCount|CurrCapacity|CurrCapacityHighCount|FailuresToReconnectCount|HighestNumAvailable|HighestNumUnavailable|LeakedConnectionCount|NumAvailable|NumUnavailable|ReserveRequestCountWaitSecondsHighCount|WaitingForConnection.*)" to-name="${reader.name}.jdbc.${name[1]}.${name[2]}" />
	 		<regexp-mapping from-name="com\.bea:Name=JTARuntime,ServerRuntime=.*,Type=JTARuntime\.(.*TotalCount)" to-name="${reader.name}.jta.${name[1]}" />
			<regexp-mapping from-name="com\.bea:Name=ThreadPoolRuntime,ServerRuntime=.*,Type=ThreadPoolRuntime\.(CompletedRequestCount|ExecuteThreadIdleCount|ExecuteThreadTotalCount|HoggingThreadCount|MinThreadsConstraintsCompleted|MinThreadsConstraintsPending|PendingUserRequestCount|QueueLength|SharedCapacityForWorkManagers|StandbyThreadCount|Throughput)" to-name="${reader.name}.threads.${name[1]}"/>
	 		<regexp-mapping from-name="com\.bea:Name=.*,ServerRuntime=.*,Type=JRockitRuntime\.(JvmProcessorLoad|TotalGarbageCollectionCount|TotalGarbageCollectionTime|FreePhysicalMemory|UsedPhysicalMemory|Uptime)" to-name="${reader.name}.jrockit.${name[1]}" />
		</mapping-template>
		<mapping-template name="tomcat">
			<regexp-mapping from-name="Catalina:type=GlobalRequestProcessor,name=.http-bio-9240.\.(requestCount|bytesSent|bytesReceived)" to-name="${reader.name}.http.${name[1]}"/>
		</mapping-template>
        <mapping-template name="hotspot">
            <regexp-mapping from-name="java\.lang:type=ClassLoading\.(TotalLoadedClassCount|LoadedClassCount|UnloadedClassCount)" to-name="${reader.name}.classloading.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=Threading\.(ThreadCount|TotalStartedThreadCount|PeakThreadCount|DaemonThreadCount)" to-name="${reader.name}.threads.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=Compilation\.(TotalCompilationTime)" to-name="${reader.name}.compilation.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=OperatingSystem\.(AvailableProcessors|CommittedVirtualMemorySize|FreePhysicalMemorySize|FreeSwapSpaceSize|MaxFileDescriptorCount|OpenFileDescriptorCount|TotalPhysicalMemorySize|TotalSwapSpaceSize)" to-name="${reader.name}.os.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:name=PS (.+),type=GarbageCollector\.(CollectionCount|CollectionTime)" to-name="${reader.name}.gc.PS${name[1]}.${name[2]}"/>
            <regexp-mapping from-name="java\.lang:name=PS ([^ ]+),type=GarbageCollector\.(CollectionCount|CollectionTime)" to-name="${reader.name}.gc.${name[1]}.${name[2]}"/>
            <regexp-mapping from-name="java\.lang:name=(.+),type=MemoryPool\.Usage#(.*)" to-name="${reader.name}.memory.${name[1]}.current.${name[2]}"/>
            <regexp-mapping from-name="java\.lang:name=(.+),type=MemoryPool\.PeakUsage#(.*)" to-name="${reader.name}.memory.${name[1]}.peak.${name[2]}"/>
            <regexp-mapping from-name="java\.lang:type=Memory\.HeapMemoryUsage#(.*)" to-name="${reader.name}.memory.heap.current.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=Memory\.NonHeapMemoryUsage#(.*)" to-name="${reader.name}.memory.nonheap.current.${name[1]}"/>
        </mapping-template>
        <mapping-template name="jrockit">
            <regexp-mapping from-name="java\.lang:type=ClassLoading\.(TotalLoadedClassCount|LoadedClassCount|UnloadedClassCount)" to-name="${reader.name}.classloading.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=Threading\.(ThreadCount|TotalStartedThreadCount|PeakThreadCount|DaemonThreadCount)" to-name="${reader.name}.threads.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=Compilation\.(TotalCompilationTime)" to-name="${reader.name}.compilation.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=OperatingSystem\.(AvailableProcessors|CommittedVirtualMemorySize|FreePhysicalMemorySize|FreeSwapSpaceSize|MaxFileDescriptorCount|OpenFileDescriptorCount|TotalPhysicalMemorySize|TotalSwapSpaceSize)" to-name="${reader.name}.os.${name[1]}"/>
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.oracle\.cls\.memory\.(committed|init|used|max)" to-name="${reader.name}.memory.classloading.current.${name[1]}" />
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.oracle\.cls\.memory\.peak\.(committed|used)" to-name="${reader.name}.memory.classloading.peak.${name[1]}" />
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.jrockit\.gc\.pool\.(heap|nursery)\.peak\.(committed|used)" to-name="${reader.name}.memory.${name[1]}.peak.${name[2]}" />
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.jrockit\.gc\.pool\.(nursery)\.(committed|init|used|max)" to-name="${reader.name}.memory.${name[1]}.current.${name[2]}" />
            <regexp-mapping from-name="java\.lang:type=Memory\.HeapMemoryUsage#(.*)" to-name="${reader.name}.memory.heap.current.${name[1]}"/>
            <regexp-mapping from-name="java\.lang:type=Memory\.NonHeapMemoryUsage#(.*)" to-name="${reader.name}.memory.nonheap.current.${name[1]}"/>
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.jrockit\.gc\.total\.oc\.(pauseTime|time)" to-name="${reader.name}.gc.old.${name[1]}" />
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.jrockit\.gc\.total\.oc\.compaction\.time" to-name="${reader.name}.gc.old.compactionTime" />
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.jrockit\.gc\.total\.yc\.(pauseTime|time)" to-name="${reader.name}.gc.young.${name[1]}" />
            <regexp-mapping from-name="oracle\.jrockit\.management:type=PerfCounters\.jrockit\.threads\.sync\.(count|time|stoppedTime)" to-name="${reader.name}.threads.sync.${name[1]}" />
        </mapping-template>
		<mapping-template name="mod_qos_spl">
			<regexp-mapping from-name=".*,metric=([^,]+),path=/([^.]+)\.(current|limit)" to-name="${reader.name}.${name[2]}.${name[1]}.${name[3]}"/>
			<regexp-mapping from-name=".*,metric=([^,]+)$" to-name="${reader.name}.${name[1]}"/>
			<regexp-mapping from-name=".*,metric=([^,]+)\.(current|limit)" to-name="${reader.name}.${name[1]}.${name[2]}"/>
		</mapping-template>
	</mapping-templates>
	<samplers>
 		<default-sampler reader="wls" writers="graphite" interval="10">
 			<mappings>
 				<mapping-template-ref name="wls" />
 				<mapping-template-ref name="jrockit" />
 			</mappings>
 		</default-sampler>
 		<default-sampler reader="tomcat" writers="console" interval="10" disabled="true">
 			<mappings>
 				<mapping-template-ref name="tomcat" />
 				<mapping-template-ref name="hotspot" />
 			</mappings>
 		</default-sampler>
		<default-sampler reader="apache" writers="console" interval="10">
			<mappings>
				<mapping-template-ref name="mod_qos_spl" />
			</mappings>
		</default-sampler>
	</samplers>
</configuration>